<footer id="footer" class="d-flex flex-column justify-content-center align-items-center bg-dark">
    <a id="website-link" href="https://williamwatson.dev">williamwatson.dev</a>
    <div class="d-flex">
        <a href="https://github.com/willswats"><img src="/imgs/github.png" alt="github"></a>
        <a href="https://www.linkedin.com/in/willswats/"><img src="/imgs/linkedin.png" alt="linkedin"></a>
        <a href="https://twitter.com/willswats"><img src="/imgs/twitter.png" alt="twitter"></a>
    </div>
    <p>Site Developed By William Watson</p>
</footer>