<% layout('layouts/boilerplate') %>
<div id="home" class="d-flex flex-column flex-grow-1 justify-content-center align-items-center text-center">
    <h1>Welcome to YelpCamp!</h1>
    <p class="m-0"> Jump right in and explore our wide variety of campgrounds.</p>
    <p class="m-0"> Feel free to add your own, or leave comments and reviews on others!</p>
    <a href="/campgrounds" class="btn btn-lg mt-3">View Campgrounds</a>
</div>