#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Home page */

#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("../imgs/home-img.jpg");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(151, 151, 151, 0.5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
}

#home h1 {
    color: white;
    font-size: 3rem;
}

#home p {
    color: white;
    font-size: 1.5rem;
}

#home #small-text {
    font-size: 14px;
    opacity: 0.5;
}

#home a {
    background-color: rgba(255, 255, 255, 0.8);
}

#home a:hover {
    background-color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 768px) {

    #home h1 {
        font-size: 2rem;
    }

    #home p {
        font-size: 1rem;
    }

    #home #small-text {
        font-size: 12px;
    }
}

/* Index page*/

#index h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#cluster-map {
    width: 100%;
    height: 400px;
}

#cluster-container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#new-campground-link {
    width: 300px;
}

@media screen and (max-width:960px) {
    #cluster-map {
        height: 300px;
    }
}

@media screen and (max-width:768px) {
    #cluster-map {
        height: 200px;
    }
}


/* Show page */

#map {
    width: 100%;
    height: 400px;
}

@media screen and (max-width:768px) {
    #map {
        height: 200px;
    }
}

/* Footer */

#website-link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.2rem;
    transition: 0.1s ease-in;
}

#website-link:hover {
    color: rgb(0, 0, 0);
    transition: 0.1s ease-in;
}

/* Flash */

#flash {
    position: absolute;
    left: 600px;
    right: 600px;
    top: 60px;
    z-index: 1;
}

@media screen and (max-width:1600px) {
    #flash {
        left: 400px;
        right: 400px;
    }
}

@media screen and (max-width:1200px) {
    #flash {
        left: 200px;
        right: 200px;
    }
}

@media screen and (max-width:800px) {
    #flash {
        left: 0px;
        right: 0px;
    }
}

/* Extra classes */

.flex-grow-1 {
    flex: 1;
}

.thumbnail {
    min-width: 100%;
    min-height: 100%;
}

.grey-border {
    border: 1px solid rgba(0, 0, 0, .125);
}